<%- include('./partials/header.ejs') %>
<%- include('./partials/navbar.ejs') %>

<div class="container w-72 flex items-end h-72" >
    <p class="text-xl font-bold bg-gray-200 text-center">
       You havn't requested , request now 
    </p>
    <a href="/checkout" class="px-2 py-1 bg-blue-300">Paynow</a>
</div>



<%- include('./partials/footer.ejs') %>


