<%- include('./partials/header.ejs') %>
    <%- include('./partials/navbar.ejs') %>


    <a href="/checkout" class="py-1 px-3 bg-blue-300">PAY NOW</a>




    <%- include('./partials/footer.ejs') %>
