<%- include('./partials/header.ejs') %>
<%- include('./partials/navbar.ejs') %>

<div class="container w-72 flex items-end h-72" >
    <p class="text-xl font-bold bg-gray-200 text-center">
        We got your application
Wait for 24 hours to be approved ! 
        ThankYou :)
    </p>
</div>



<%- include('./partials/footer.ejs') %>


